.data
data2/
data/
ShapeNet_example/
.DS_Store
.ipynb_checkpoints/
descriptions/
*.json
glove.6B/
logs/
runs/
models/
descriptions/
pointnet3/
images/
data_clean/
__pycache__/
4e5f18d35df43389aea313f389e6b76c7877cf71
